doctype html
head
 meta(charset='utf-8')
 title Delicious Meal - #{name}
h1 #{name}
h4 by #{author}
br
p "#{description}"
p Prep Time: #{prepT} minutes | Cook Time: #{cookT} minutes | Total Time: #{totalT} minutes
br
h3 Instructions
p #{instructions}